<html lang="en">
    <body>
        <h1>Homepage</h1>
        <h2>A homepage</h2>

        Make a payout:
        <button id="submit-payout" value="submit-payout">Generate URL</button>
    </body>
</html>