<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dev Shop</title>
    </head>
    <body>
        <div style="background-color:lightseagreen; padding:50;">
            <nav>
                <b><a href="/">Homepage</a></b><br/>
                <b><a href="/payments">Payments</a></b><br/>
                <b><a href="/connect">Connect</a></b><br/>
                <b><a href="/billing">Billing</a></b>
            </nav>
        </div>
        <%- body %>
    </body>
</html>