<html lang="en">
    <body>
        <h1>Payments Page</h1>
        <h2>All the payments</h2>

        <section>
            <div class="product">
                <img src="/images/a_widget.jpeg" alt="A glorious widget" />
                <div class="description">
                  <h3>Widget</h3>
                  <h5>$29.99</h5>
                </div>
            </div>
            <form action="/create-checkout-session" method="POST">
              <button type="submit" id="checkout-button">Open checkout session</button>
            </form>
          </section>
    </body>
</html>